<aside id="article-toc" role="navigation" class="col-md-4">
    <div class="widget">
        <h3 class="title"><%= __('toc') %></h3>
        <% if(toc(page.content)){ %>
            <%- toc(page.content,{list_number:false}) %>
        <% } else { %>
            <p>木有目录</p>
        <% } %>
    </div>
</aside>
<script>window._bd_share_config = {
      "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "1",
        "bdMiniList": ["weixin", "sqq", "qzone", "youdao", "mshare", "tsina", "bdysc", "tieba", "douban", "mail", "evernotecn", "copy", "print"],
        "bdPic": "",
        "bdStyle": "1",
        "bdSize": "16"
      },
      "slide": {"type": "slide", "bdImg": "2", "bdPos": "right", "bdTop": "97.5"},
      "image": {"viewList": ["weixin", "tqq", "qzone", "tsina", "youdao"], "viewText": "分享到：", "viewSize": "16"},
      "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["weixin", "tqq", "qzone", "tsina", "youdao"]}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>