<!--SEO-->
<% if(config.description){ %>
<meta name="description" content="<%= config.description%>"/>
<% } %>

<% if(config.keywords){ %>
<meta name="keywords" content="<%= config.keywords%>"/>
<% } %>

<meta name="baidu_ssp_verify" content="45ea72304f4690a3278e9ceeac6c7a99">

<% if(theme.baidu_ssp_verify){ %>
<meta name="baidu_ssp_verify" content="<%= theme.baidu_ssp_verify%>">
<% } %>

<% var robotMeta = theme.robot||'all'; %>
<meta name="robots" content="<%= robotMeta%>" />
<meta name="google" content="<%= robotMeta%>" />
<meta name="googlebot" content="<%= robotMeta%>" />
<meta name="verify" content="<%= robotMeta%>" />